.profile__button-edit {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-image: url(../../../images/Edit_Button.svg);
  background-color: #000000;
  background-position: center;
  margin: auto;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 60%;
}

@media screen and (max-width: 550px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}