.profile__button-edit {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-image: url(../../../images/Edit_Button.svg);
  background-color: #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.profile__button-edit:hover {
  opacity: 60%;
}

@media screen and (max-width: 550px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}