.popup__input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 358px;
  height: 20px;
  margin: 0;
}

.popup__input:invalid {
  border-color: red;
  border-width: 1px;
}

@media screen and (max-width: 550px) {
.popup__input {
  width: 238px;
  padding-top: 13px;
  padding-bottom: 8px;
}
}