.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 38px;
  max-width: 880px;
  margin: auto;
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
    max-width: 100%;
    padding-top: 38px;
  }
}