.profile__button-plus {
  background-image: url(../../../images/Vector+.svg);
  width: 150px;
  height: 50px;
  align-self: center;
  background-color: #000000;
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  cursor: pointer;
  padding: 0;
  transition: all 0.5s ease-in;
}

.profile__button-plus:hover {
  opacity: 60%;
}

@media screen and (max-width: 670px) {
  .profile__button-plus {
    background-size: 16px;
    width: 282px;
    padding: 0;
  }
}