.profile__button-plus {
  background-image: url(../../../images/Vector+.svg);
  width: 150px;
  height: 50px;
  align-self: center;
  background-color: #000000;
  border: 2px solid #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__button-plus:hover {
  opacity: 60%;
}

@media screen and (max-width: 550px) {
  .profile__button-plus {
    width: 282px;
    padding: 0;
  }
}