.profile__subtitle {
  margin: 0;
  max-width: 336px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  padding-top: 16px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0 36px 0;
    margin: auto;
  }
}