.elements__vector {
  margin: auto 18px auto 0;
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/Vector_h.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-in;
}

.elements__vector:hover {
  opacity: 60%;
}