.logo {
  height: 33px;
  width: 142px;
  padding-top: 43px;
}

@media screen and (max-width: 550px) {
  .logo {
    height: 24px;
    width: 103px;
    padding-top: 43px;
    padding-left: 15px;
  }
}
