.elements__groups {
  padding: 51px 0 0 0;
  max-width: 880px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, auto));
  gap: 17px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .elements__groups {
    padding: 36px 0 0 0;
    grid-template-columns: repeat(2, minmax(282px, auto));
    grid: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .elements__groups {
    grid-template-columns: repeat(1, minmax(282px, auto));
  }
}