.elements__groups {
  padding: 46px 0 0 0;
  max-width: 880px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, auto));
  column-gap: 17px;
  row-gap: 20px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .elements__groups {
    padding-top: 35px;
    grid-template-columns: repeat(2, minmax(282px, auto));
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .elements__groups {
    grid-template-columns: repeat(1, minmax(282px, auto));
  }
}