.footer {
  margin: auto;
  background-color: #000000;
  max-width: 880px;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .footer {
    max-width: 581px;
   }
}

@media screen and (max-width: 650px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
