.popup__title {
  margin: 0;
  padding: 12px 0 20px 36px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  color: #000000;
}

@media screen and (max-width: 550px) {
  .popup__title {
    padding-top: 25px;
    padding-left: 22px;
    font-size: 18px;
  }
}